<h1>Create Your Project</h1>

  <form method='POST' action='/form'>

    <input name='name' style='width: 300px' placeholder="Give your project a name">
    <input type='submit'>

    <br>

    </br>
      <textarea
        rows="15" cols="67" placeholder="Tell the World about your project">
      </textarea>

    <br>

    </br>
      <select>
        <option value="Art">Art</option>
        <option value="Business">Business</option>
        <option value="Literature">Literature</option>
        <option value="Fashion">Fashion</option>
        <option value="Sport">Sports</option>
        <option value="Sciences">Sciences</option>
        <option value="Social">Social</option>
        <option value="Technology">Technology</option>
      </select>






</form>
