extends layout

block content
  h1= title
  p The students of Slickstarter

  h2 Sign up
  form(action="/students/create", method="post")
    | First Name
    input(type="text", name="username")
    | Second Name
    input(type="text", name="lastname")
    input(type="submit")

  h2 Students

  ul
    each student in students
      li
        = student.firstName
        ul
          li
            | Creating a new project:
            form(action="/students/" + student.id + "/projects/create", method="post", style="display: inline")
              input(type="text", name="title")
              input(type="submit")
          each project in student.Projects
            li
              = project.name
              | (
              a(href="/students" + student.id + "/projects" + project.id + "/destroy") Destroy
              | )
