<h1>Hello world, I fucking hate you</h1>
<form action="">
First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">
</form>
E-mail address:<br>
<input type="text" name="lastname">
</form>
