//- extends layout
//- 
//- block content
//-   h1
//-     each student in students
//-         = student.firstName + '\'s Profile'
//-           p The students of Slickstarter
//- 
//-   ul
//-     each student in students
//-       li
//-         = student.firstName
//-         = student.secondName
//-         ul
html
  head
    link(rel='stylesheet',href='/style.css')

block content
br
h1
  #navbar slickstarter
  #menu
    a(href="/signup", class="menu1") Sign up &nbsp&nbsp
    a(href="/login", class="menu1") Login &nbsp&nbsp
    a(href="/createproject", class="menu1") Create a Project &nbsp&nbsp
  h1
    each student in students
      = student.firstName + '\'s Profile'
        
  ul
    each student in students
      li
        = student.firstName + ' '
        = student.lastName
        br
        = student.university
        br
        = student.course
        br
        = student.level
        br
        = student.email
        
        ul
          
          | Create a new project:
          br
          form(action="/students/" + student.id + "/projects/create", method="post", style="display: inline")
            | Project Name:  
            input(type="text", name="project", id="create")
            br
            | Description:  
            input(type="text", name="description", id="create", class="description")
            br
            | Amount to raise:   
            input(type="text", name="raise", id="create")
            br
            input(type="submit", id="submit")
