html
  head
    title= title
    link(href='/style.css', rel='stylesheet')

block content
  h1 
    each project in students
      = project.name + '\'s Page'
      #navbar Slickstarter

  ul
    each project in students
      li
        h1
          #name
          = project.name
          br
        = project.description
        br
        = project.raise

  h2 Donate to this project
    each project in students
      form(action="/donate/" + project.id, method="post")
      | Amount
      input(type="number", name="payment")
      input(type="submit")
    
