<html>
<head>
  <body>
    <form action="/my_profile" method="post">
      First name:<br>
      <input type="text" name="FirstName">
      <br>
      Last name:<br>
      <input type="text" name="LastName">
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  </body>
</head>
</html>