extends layout

block content
  h1= title

  h2 Sign up
  form(action="/students/create", method="post")
    | First Name
    input(type="text", name="username")
    br
    | Second Name
    input(type="text", name="lastname")
    br
    | Email address
    input(type="text", name="email")
    input(type="submit")
      
  h2 View all Projects
  
  ul
    each student in students
      each project in student.Projects
        li
          a(href="/projects/"+ project.id)= project.name
            ul
  
              
  h2 View all Users
  
  ul
    each student in students
      li
        = student.firstName + ' '
        = student.lastName
        ul
            li
              br
              a(href="/students/" + student.id) - View User Profile
              ul

  h2 Students and Projects


  ul
    each student in students
      li
        = student.firstName + ' '
        = student.lastName
        ul
          li
            | Create a new project:
            br
            form(action="/students/" + student.id + "/projects/create", method="post", style="display: inline")
              | Project Name:  
              input(type="text", name="project")
              br
              | Description:  
              input(type="text", name="description")
              br
              | Amount to raise:   
              input(type="text", name="raise")
              input(type="submit")
          each project in student.Projects
            li
              = project.name + ' started by ' + student.firstName
              br
              = project.description
              br
              = student.firstName + ' wants to raise ' + project.raise
              br
              br
              a(href="/students/" + student.id + "/projects/" + project.id + "/destroy") - Delete
              br
              a(href="/students/" + student.id) - View User Profile
              br
              a(href="/projects/" + project.id) - View Project Page
