* {
  padding: 0;
  border: 0;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: #A41E21;
  text-indent: 100px;
}

#name {
  color: blue;
  font-size: 100px;
}

#lol {
  font-size: 300px;
}
